.hang{
  @include animation(hang, $anim-speed, $anim-easing);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hang{
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(6%);
  }
}