.hover{
  @include animation(hover, $anim-speed, $anim-easing);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hover{
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-6%);
  }
}