.shake{
  @include animation(shake, $anim-speed, $anim-easing);
}

@keyframes shake{
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(8%);
  }

  30% {
    transform: translateX(-6%);
  }

  50% {
    transform: translateX(4%);
  }

  65% {
    transform: translateX(-2%);
  }

  80% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0);
  }
}