@if $use-misc == true {
  .fallIn{
    @include animation(fallIn);
  }

  @keyframes fallIn{
    0% {
      transform: scale(1.3);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}