@if $use-fade == true {
  .fallOut{
    @include animation(fallOut);
  }

  @keyframes fallOut{
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(.7);
      opacity: 0;
    }
  }
}