@if $use-misc == true {
  .flipOutVertical{
    @include animation(flipOutVertical);
  }

  @keyframes flipOutVertical{
    0% {
      transform: perspective(600px) rotateX(0);
      opacity: 1;
    }
    100% {
      transform: perspective(600px) rotateX(90deg);
      opacity: 0;
    }
  }
}