.bounceInRight{
  @include animation(bounceInRight, $anim-speed, $anim-easing);
}

@keyframes bounceInRight{
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  60% {
    transform: translateX(-20%);
    opacity: 1;
  }
  80% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}