.fadeInUp{
  @include animation(fadeInUp);
}

@keyframes fadeInUp{
  0% {
    transform: translateY($fade-distance);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}