.fadeInDown{
  @include animation(fadeInDown);
}

@keyframes fadeInDown{
  0% {
    transform: translateY(-$fade-distance);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
