/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * alive.css default variables.
 */

$anim-speed: .6s !default;
$anim-delay: 0 !default;
$anim-easing: ease !default;

$slide-distance: 50% !default;
$fade-distance: 20% !default;
$bounce-distance: 50% !default;

@mixin animation ($animation, $duration:$anim-speed, $easing:$anim-easing, $delay:$anim-delay) {
    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $easing;
    animation-delay: $delay;
    animation-fill-mode: both;
    backface-visibility: hidden;
}