.fadeOutDown{
  @include animation(fadeOutDown, $anim-speed, $anim-easing);
}

@keyframes fadeOutDown{
  0{
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}