.fadeInRight{
  @include animation(fadeInRight, $anim-speed, $anim-easing);
}

@keyframes fadeInRight{
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}