.fadeInDown{
  @include animation(fadeInDown, $anim-speed, $anim-easing);
}

@keyframes fadeInDown{
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}